<?xml version="1.0" encoding="utf-8"?>
<odoo>

    <!-- This Menu Item will appear in the Upper bar, that's why It needs NO parent or action -->
    <menuitem 
        id="bakery_menu_root" 
        name="Salsa Bakery" 
        sequence="10"/>

    <!-- This Menu Item Must have a parent -->
    <menuitem 
        id="bakery_menu_menu_categ" 
        name="Menu" 
        parent="bakery_menu_root" 
        sequence="10"/>

    <!-- This Menu Item Must have a parent -->
    <menuitem 
        id="bakery_order_menu_categ" 
        name="Order" 
        parent="bakery_menu_root" 
        sequence="20"/>
    
    <!-- This Menu Item Must have a parent -->
    <menuitem 
        id="bakery_partner_menu_categ" 
        name="Partner" 
        parent="bakery_menu_root" 
        sequence="30"/>
</odoo>
